<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Registro</servlet-name>
        <servlet-class>servlets.Registro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reserva</servlet-name>
        <servlet-class>servlets.Reserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>busquedaCliente</servlet-name>
        <servlet-class>servlets.BusquedaCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>busquedaRSMatricula</servlet-name>
        <servlet-class>servlets.BusquedaRSEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BusquedaRSMatricula</servlet-name>
        <servlet-class>servlets.BusquedaRSMatricula</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BusquedaRSFecha</servlet-name>
        <servlet-class>servlets.BusquedaRSFecha</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registro</servlet-name>
        <url-pattern>/Registro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reserva</servlet-name>
        <url-pattern>/Reserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>busquedaCliente</servlet-name>
        <url-pattern>/busquedaCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>busquedaRSMatricula</servlet-name>
        <url-pattern>/busquedaRSMatricula</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BusquedaRSMatricula</servlet-name>
        <url-pattern>/BusquedaRSMatricula</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BusquedaRSFecha</servlet-name>
        <url-pattern>/BusquedaRSFecha</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
